{# 
Parameters
----------
factors : list[str]
    List of plain text names of factors
descriptions : list[str]
    List of html formatted descriptions of factors, in the same order as factors
scorings : list[str]
    List of html formatted scorings of factors, in the same order as factors
#}
{% for idx in range(factors|length) %}
    <h2>{{factors[idx]}}</h2>
    <div>
        <h3>Description</h3>
        <div>{{descriptions[idx]}}</div>
        <h3>Scoring</h3>
        <div>{{scorings[idx]}}</div>
    </div>
{% endfor %}