{# 
Parameters
----------
raw_table : str
    html string of table with raw data provided by user
scores_table : str
    html string of table with scores for each factor for each choice
results_table : str
    html string of table with scores for each choise for each metric
ignored_factors : list[str]
    List of plain text strings of factors that are not included in any metric
weights_table : str
    html string of table with metric weights
metric_factors : dict[str, list[str]]
    Dictionary of lists of factors for each metric
weight_charts : list[str]
    List of html strings for pie chart figures
factor_descriptions : list[str]
    List of html formatted descriptions of factors, in the same order as factors
factor_scorings : list[str]
    List of html formatted scorings of factors, in the same order as factors
#}
<!DOCTYPE html>
<html>
    <head>
        <style>
            .table-container {
                width: auto; /* Adjusts to content width */
                height: auto; /* Adjusts to content height */
                overflow: auto; /* Adds scrollbars when necessary */
                border: 1px solid #ccc; /* Add a border for visual separation (optional) */
            }
        </style>
    </head>
    <body>
        <h1>Raw Data</h1>
        <div class="table-container">
            {{raw_table}}
        </div>

        <h1>Scores</h1>
        {% for metric in scores_tables %}
            <h2>{{metric}}</h2>
            <div class="table-container">
                {{scores_tables[metric]}}
            </div>
        {% endfor %}

        <h1>Results</h1>
        <div>
            {{results_table}}
        </div>
        <p>
            {# {% if ignored_factors|length > 0 %}
                The following factors are not included in any metric:
                <ol>
                {% for ignored_factor in ignored_factors %}
                    <li>{{ignored_factor}}</li>
                {% endfor %}
                </ol>
            {% else %}
                All factors are included in at least one metric!
            {% endif %} #}
        </p>
            
        <h1>Metrics</h1>
        <div class="table-container">
            {{weights_table}}
        </div>
        <div>
        {% for metric in metric_factors %}
            <div>
            <h2>{{metric}}</h2>
            <div>{{weight_charts[metric]}}</div>
            {% for factor in metric_factors[metric] %}
                <h3>{{factor}}</h3>
                <div>
                    <h4>Description</h4>
                    <div>{{factor_descriptions[metric][factor]}}</div>
                    <h4>Scoring</h4>
                    <div>{{factor_scorings[metric][factor]}}</div>
                </div>
            {% endfor %}
            </div> 
        {% endfor %}
        </div>

    </body>
</html>
